.mobileHero {
  width: 100%;
}

main {
  padding-left: 2rem;
  padding-right: 2rem;
}

main h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323d;
  margin-top: 1.5rem;
}

.aboutBtn {
  background: #203a4c;
  width: 12.5rem;
  height: 3rem;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fafafa;
  border: none;
  margin-top: 32px;
}

.aboutContainer {
  margin-top: 96px;
}

.aboutContainer h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323d;
  margin-top: 2rem;
  margin-bottom: 1.75rem;
}

.aboutContainer p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323d;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.desktopHeroHome {
  display: none;
}

.scrollDownWrapper {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #162a38;


}

.aboutMeWrapper span {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  width: 152px;
}

.scrollDownBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .aboutMeWrapper {
    background: #fafafa !important;

    z-index: 5000;
    width: 75%;
    padding-right: 3.5rem;
    position: absolute;
    padding-top: 56px;
    left: -1px;
    bottom: -1px;
  }

  .topContainer {
    position: relative;
  }

  .aboutMeWrapper button {
    margin-top: 3rem !important;
  }

  .aboutMeWrapper h1 {
    margin-top: 0px;
  }

  .aboutChild {
    /* width: 50%; */
  }

  .aboutContainer {
    display: flex;
    gap: 4.3125rem;
    height: 600px;
  }

  .aboutChild p {
    width: 339px;
    height: 360px;
  }

  .profileWrapper {
    max-width: 540px;
  }

  .profileWrapper img {
    object-fit: cover;
    object-position: 80%;
    width: 100%;
    height: 100%;
  }

  .aboutChild h2 {
    margin-top: 51px;
    margin-bottom: 28px;
  }

  .goto {
    margin-top: 1.5rem !important;
    margin-bottom: 2.875rem !important;
  }
}

@media screen and (min-width: 1300px) {
  .mobileHero {
    display: none;
  }

  .desktopHeroHome {
    display: unset;
    object-fit: cover;
    object-position: left;
  }

  .aboutMeWrapper {
    width: 445px;
    height: 357px;
    padding-right: 0px !important;
    padding-top: 0px !important;
    bottom: 0;
    left: -1px;
  }

  .aboutMeWrapper h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
    color: #33323d;
    margin-top: 56px;
    width: 390px;
  }

  .heroImgWrapper {
    display: flex;
    height: 600px;
  }

  .aboutMeWrapper button {
    margin-top: 3.3125rem !important;
  }

  .aboutContainer {
    gap: 7.8125rem;
    margin-top: 150px;
  }

  .aboutChild:last-of-type {
    width: 350px;
  }

  .aboutChild p {
    width: 348px;
  }
}
