header {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  z-index: 9999 !important;
}

.headerLogo {
  width: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999999999 !important;
}

.desktopLinks li:hover {
  cursor: pointer !important;
  color: #5fb4a2;
}

.desktopLinks {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.desktopNav {
  display: none;
}

.mobileNavOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.mobileNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  min-height: 100vh;
  background-color: #fafafa;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.mobileLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  margin-right: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.mobileLinks li {
  font-size: 24px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Public Sans";
}

.closeBtn {
  position: absolute;
  top: 2.2rem;
  right: 1.45rem;
  cursor: pointer;
}

.separator {
  margin: 20px 0px;
  height: 1px;
  width: 100%;
  background: #262626;
  mix-blend-mode: normal;
  opacity: 0.2;
  
}

/* media query for desktop nav menu  */

@media (min-width: 468px) {
  .mobileNav {
    display: none;
  }

  .mobileNavOverlay {
    display: none;
  }

  .activeLink {
    color: #5fb4a2;
  }

  .desktopNav {
    display: block;
  }

  .desktopLinks {
    flex-direction: row;
  }

  .desktopLinks li {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Public Sans";
  }

  .desktopLinks a {
    text-decoration: none;
  }

  .desktopLinks a:hover {
    text-decoration: underline;
  }

  .hamburger {
    display: none;
  }

  .desktopLinks {
    gap: 2.625rem;
  }
}
