header {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mobileLinks li {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Public Sans";
  color: #ffffff;
}

.mobileMenu {
  position: absolute;
  width: 100%;
  right: 2rem;
  top: 3.5rem;
  height: 11.625rem;
  background: #33323d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 223px;
}

.mobileMenu.active {
  opacity: 1;
  transition: all 0.2s ease;
  visibility: visible;
}

.mobileMenu.inactive {
  opacity: 0;
  transition: all 0.2s ease;
  top: 50px;
  visibility: visible;
}

.desktopNav {
  display: none;
}

/* media query for desktop nav menu  */

@media (min-width: 468px) {
  .mobileMenu {
    display: none;
  }

  .activeLink {

    color: #5FB4A2;

  }

  .desktopNav {
    display: block;
  }

  .desktopLinks {
    flex-direction: row;
  }

  .desktopLinks li {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Public Sans";
  }

  .desktopLinks a {
    text-decoration: none;
  }

  .desktopLinks a:hover {
    text-decoration: underline;
  }

  .hamburger {
    display: none;
  }
}


