header {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.textLogo {
  font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    /* text-transform: capitalize; */
    font-family: "Public Sans";
    color: #262626;
    /* font-family: "Ibarra Real Nova", serif; */

}

.headerLogo {

  width: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  
}

.desktopLinks li:hover {
  cursor: pointer !important;
  color: #5fb4a2;
}

.mobileLinks,
.desktopLinks {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mobileLinks a {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Public Sans";
  color: #fafafa;
  color: #262626;
  text-decoration: none;
}

.mobileMenu {
  position: absolute;
  width: 100%;
  right: 0;
  top: 30px;
  height: 14.625rem;
  
  background: #262626;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 223px; */
  z-index: 999;
  
  
}

.mobileMenu.active {
  opacity: 1;
  transition: all 0.4s ease;
  visibility: visible;

}

.mobileMenu.inactive {
  opacity: 0;
  transition: all 0.2s ease;
  top: 20px;
  visibility: visible;
}

.desktopNav {
  display: none;
}


.mobileLinks .socialIcon {
  filteR: unset;
}



/* media query for desktop nav menu  */

@media (min-width: 468px) {
  .mobileMenu {
    display: none;
  }

  .activeLink {
    color: #5fb4a2;
  }

  .desktopNav {
    display: block;
  }

  .desktopLinks {
    flex-direction: row;
  }

  .desktopLinks li {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Public Sans";
  }

  .desktopLinks a {
    text-decoration: none;
  }

  .desktopLinks a:hover {
    text-decoration: underline;
  }

  .hamburger {
    display: none;
  }

  .desktopLinks {
    gap: 2.625rem;
  }
}
