.portfolioDetail {
  padding-right: 2rem;
  padding-left: 2rem;
}

.portfolioDetail h2 {
  font-size: 40px;
  line-height: 42px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.detailImageContainer {
  margin-bottom: 2.5rem;
}

.portfolioDetail p {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #262626;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.tools,
.method {
  font-family: "Public Sans";
  font-weight: 700 !important;
  font-size: 13px !important;
  line-height: 30px !important;
  color: #5fb4a2 !important;
}

.tools {
  text-transform: uppercase;
}

.method {
  margin-top: 1.5rem;
}

.visit {
  width: 11.125rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.portfolioDetail h3 {
  margin-top: 3rem;
  margin-bottom: 1.75rem;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.285714px;
  color: #262626;
}

.portfolioDetail h4 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.285714px;
  color: #262626;
}

.staticWrapper {
  margin-top: 2rem;
  /* box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px; */
}

.detail {

  /* box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px; */
}

.desktopTest {
  display: none;
}

@media screen and (min-width: 768px) {
  .testtt {
    display: none;
  }
  .desktopTest {
    display: unset;
  }

  .titleWrapper {
    display: flex;
  }

  .titleChild {
    width: 50%;
  }

  .titleChild h2 {
    margin-top: 2rem;
    margin-bottom: 0 !important;
  }

  .visit {
    margin-bottom: 2rem;
  }

  .method {
    margin-top: 1rem;
  }

  .titleChild:last-of-type {
    margin-top: auto;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1154px) {
  .testtt {
    display: unset;
  }

  .desktopTest {
    display: none;
  }

  .desktopDetailWrapper {
    display: flex;
    justify-content: space-between;
  }

  .titleChild {
    width: 350px !important;
  }

  .titleChild h2 {
    margin-bottom: 29px !important;
    margin-top: 48px !important;
  }

  .backgroundContainer {
    width: 635px;
  }

  .titleChild {
    width: 100%;
  }

  .detailLine {
    display: none;
  }

  .titleChild:last-of-type {
    display: none;
  }

  .portfolioDetail {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
