.portfolioDetail {
  padding-right: 2rem;
  padding-left: 2rem;
}

.portfolioDetail h2 {
  font-size: 40px;
  line-height: 42px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.detailImageContainer {
  margin-bottom: 2.5rem;
}

.portfolioDetail p {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #33323d;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.tools,
.method {
  font-family: "Public Sans";
  font-weight: 700 !important;
  font-size: 13px !important;
  line-height: 30px !important;
  color: #5fb4a2 !important;
}

.tools {
  text-transform: uppercase;
}

.method {
  margin-top: 1.5rem;
}

.visit {
  width: 11.125rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.portfolioDetail h3 {
  margin-top: 3rem;
  margin-bottom: 1.75rem;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.285714px;
  color: #33323d;
}

.portfolioDetail h4 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.285714px;
  color: #33323d;
}

.staticWrapper {
  margin-top: 2rem;
}
