.bottomFooter {
  background: #33323d;

  padding-top: 56px;
  padding-bottom: 56px;
}

.footerWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

header {
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

footer a {
  color: white;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.socialIcon,
.logo {
  filter: invert(100%) sepia(93%) saturate(27%) hue-rotate(99deg)
    brightness(107%) contrast(107%);
  transition: all 0.2s ease;
}

.socialContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.interestedContainer {
  margin-top: 7.1875rem;
  margin-bottom: 5rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.interestedLine {
  display: none;
}

.interestedContainer h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.357143px;
  color: #33323d;
}

.linksContainer a {
  text-decoration: none;
  transition: all 0.2s ease;
}

.linksContainer a:hover {
  color: #5fb4a2;
}

.interestedContainer .navBtn {

 
  margin-left: auto;
  margin-right: auto;
}

.socialIcon:hover {
  filter: invert(62%) sepia(51%) saturate(321%) hue-rotate(117deg)
    brightness(95%) contrast(88%);
}

@media screen and (min-width: 768px) {
  .interestedContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .interestedContainer h3 {
    text-align: left;
    width: 21.875rem;
  }

  .contact {
    margin: 0;
  }

  .bottomFooter {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .linksContainer {
    margin-right: auto;
    margin-left: 3rem;
    flex-direction: row;
  }
}

@media screen and (min-width: 1300px) {
  .interestedContainer {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .interestedLine {
    display: unset;
    width: 534px !important;
  }

  .bottomFooter,
  .footerWrapper {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .footerWrapper {

    height: 80px;
    
  }
}
