.contactContainer {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  width: 100%;
}

.headingChild h2 {
  margin-bottom: 1.5rem;
}

.headingChild h3 {

  margin-top: 1.5rem;
}

.headingChild h2, .headingChild h3 {
  font-family: "Lato", sans-serif;
  font-weight: 400 !important;
  font-size: 1.75rem;
}

.contactContainer p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #262626;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 1.5rem;
  width: 98%;
}

.contactContainer .socialContainer {
  margin-bottom: 2rem;
}

.contactContainer .socialIcon {
  filter: unset;
}

/* form  */

.formGroup {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 13px;
  color: #262626;
  mix-blend-mode: normal;
  opacity: 0.8;
}

input,
textarea {
  width: 100%;

  border: none;
  border-radius: 4px;
  font-size: 1rem;
  background: #72727511;
  font-family: "Public Sans";
  padding-left: 1rem;
}

textarea {
  padding-top: 0.5625rem;
}

input {
  height: 3rem;
}

.tyContainer .aboutBtn {

  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}



.formContainer h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #262626;
}

input::placeholder,
textarea::placeholder {
  color: #33323d;
  opacity: 0.4;
}

.error {
  margin-bottom: 0.5rem;
  color: red;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: "Public Sans";
}

.inputError {
  border: 1px solid red;
}

.formBtn {
  margin-top: 0;
  margin-bottom: 2rem;
  width: 100%;
  
}

.thankyouMessage {
  line-height: 25px;
  color: #5FB4A2 !important;

}

.validInput {

  outline: 1px solid #5FB4A2;
}

.tyContainer {

  margin-bottom: 50px;
}


@media screen and (min-width: 1000px) {


  .contactContainer {

    max-width: 1174px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

  }

  .touchContainer,
  .formContainer {

    display: flex;
    justify-content: space-between;
  }

  .touchContainer {

    margin-bottom: 48px;
  }

  .formContainer {

    margin-top: 48px;
  }

  .contactContentChild {

    width: 635px;
  }

  button[type="submit"] {
    
    margin-bottom: 0px !important;
    
  }

  .tyContainer {

    flex-direction: column;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
    position: relative;
    margin-bottom: 75px;
    
  }

  .thankyouMessage {
    
    width: 100% !important;
    position: absolute;
    bottom: -70px;
  }
 

  

}