@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;400;500;600;700&family=Sen:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

h1,
h2,
h3,
h4,
.buttonTitle,
.desktopLinks {
  font-family: "Lato", sans-serif;
  font-weight: 400 !important;
  color: #262626;
  
}



@media screen and (min-width: 1154px) {
  h1 {
    font-size: 3.2rem !important;
  }
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  /* font-family: "Ibarra Real Nova", serif; */
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  background: #fafafa;
  
}

.App {
  min-height: 100vh;
  
}




button:hover {
  cursor: pointer;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}


.line {
  width: 100%;
  height: 1px;
  background: #262626;
  mix-blend-mode: normal;
  opacity: 0.15;
}

.portfolioIndex h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #262626;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.portfolioIndex p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #262626;
  mix-blend-mode: normal;
  opacity: 0.8;
}

[data-id="1"] .three {
  display: none;
}

[data-id="2"] .visit,
[data-id="3"] .visit,
[data-id="4"] .visit {
  opacity: 0.25 !important;
  cursor: not-allowed;
}

[data-id="2"] .visit:hover,
[data-id="3"] .visit:hover,
[data-id="4"] .visit:hover {
  background: unset;
  color: unset;
}

.aboutBtn {
  transition: all 0.2s ease;
}

.linksContainer a {
  color: white;
}


.fadeInLoad {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  button {
    cursor: pointer;
  }

  .portfolioIndex h2 {
    font-size: 40px;
  }

  li {
    transition: all 0.2s ease;
  }

  li:hover {
    cursor: pointer;
    color: #5fb4a2;
  }

  .contactContainer,
  .portfolioDetail,
  main,
  header,
  .portfolioIndex {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 1154px) {
  main,
  header,
  .interestedContainer {
    max-width: 1174px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    margin-top: 64px;
    margin-bottom: 54px;
  }

  .bottomFooter {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .footerWrapper {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }

  .socialContainer {
    gap: 25px;
  }

  .linksContainer {
    margin: 0;
    margin-right: auto;
    margin-left: 48px;
    gap: 2.625rem;
  }

  .linksContainer a:last-of-type {
    margin-left: 1px;
  }
}

/* was supposed to be in './PortfolioItem.css' but encountered deploy issue */

.indexLine {
  margin-top: 1.5rem;
}

.portfolioItem {
  margin-top: 4.5rem;
}

.portfolioItem:first-of-type {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .portfolioItem {
    display: flex;
    gap: 4.3125rem;
    align-items: center;
    /* max-height: 418px; */
    margin-top: 6rem;
  }

  .contentContainer {
    min-width: 281px;
    max-width: 350px;
  }

  .siteWrapper {
    min-width: 339px;
    max-width: 540px;
  }

  .detail {
    max-width: unset;
  }

  .indexLine {
    margin-top: 0;
  }

  /* [data-id="1"] .siteWrapper {
    max-width: 33.75rem;
  } */

  .manageItem {
    flex-direction: row-reverse;
  }

  .insureItem {
    flex-direction: row-reverse;
  }

  .contentContainer h2 {
    margin-top: 2rem !important;
  }

  .view {
    margin-bottom: 3.125rem;
  }
}

@media screen and (min-width: 1154px) {
  .portfolioItem {
    max-width: 1111px;
    margin-right: auto;
    margin-left: auto;
    gap: 125px;
    padding-right: 96px;
  }

  .manageItem,
  .insureItem {
    padding-right: 0;
  }

  .staticContainer {
    display: flex;
    gap: 32px;
  }

  [data-id="1"] .staticWrapper {
    height: 336.38px;
    /* overflow: hidden; */
    overflow: hidden;
  }

  [data-id="1"] .three {
    display: unset;
  }
}
