/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font-family: "Ibarra Real Nova", serif;
  color: black;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  background: white;
}

.App {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background: #33323d;
  mix-blend-mode: normal;
  opacity: 0.15;
}

.portfolioIndex h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323d;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.portfolioIndex p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #33323d;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/* gallery images padding */

[data-id="1"] .siteWrapper {
  background: #f2e1c263;
  padding-top: 31px;
  padding-bottom: 31px;
}

[data-id="1"] .detailHero,
[data-id="1"] .indexThumbnail {
  padding-left: 31px;
  padding-right: 31px;
}

[data-id="2"] .three,
[data-id="3"] .three,
[data-id="4"] .three {
  display: none;
}

[data-id="1"] .detail {
  padding-top: 0rem !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

[data-id="1"] .staticWrapper {
  padding: 28px 28px 28px 28px;
  background: #f2e1c263;
}

.aboutBtn {
  transition: all 0.2s ease;
}

.aboutBtn:hover {
  background: #5fb4a2;
}

@media screen and (min-width: 768px) {
  button {
    cursor: pointer;
  }

  li {
    transition: all 0.2s ease;
  }

  li:hover {
    cursor: pointer;
    color: #5fb4a2;
  }
}

@media screen and (min-width: 1154px) {
  main,
  header,
  .interestedContainer {
    max-width: 1174px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    margin-top: 64px;
    margin-bottom: 54px;
  }

  .bottomFooter {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .footerWrapper {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }

  .socialContainer {
    gap: 15px;
  }

  .socialContainer img:last-of-type {
    margin-left: 1px;
  }

  .linksContainer {
    margin: 0;
    margin-right: auto;
    margin-left: 48px;
    gap: 2.625rem;
  }

  .linksContainer a:last-of-type {
    margin-left: 1px;
  }
}


.indexLine {
  margin-top: 1.5rem;
}

.portfolioItem {
  margin-top: 4.5rem;
}

.portfolioItem:first-of-type {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .portfolioItem {
    display: flex;
    gap: 4.3125rem;
    align-items: center;
    /* max-height: 418px; */
    margin-top: 6rem;
  }

  .contentContainer {
    min-width: 281px;
    max-width: 350px;
  }

  .siteWrapper {
    min-width: 339px;
  }

  .indexLine {
    margin-top: 0;
  }

  /* [data-id="1"] .siteWrapper {
    max-width: 33.75rem;
  } */

  .manageItem {
    flex-direction: row-reverse;
  }

  .insureItem {
    flex-direction: row-reverse;
  }

  .contentContainer h2 {
    margin-top: 2rem !important;
  }

  .view {
    margin-bottom: 3.125rem;
  }
}

@media screen and (min-width: 1154px) {
  .portfolioItem {
    max-width: 1111px;
    margin-right: auto;
    margin-left: auto;
    gap: 125px;
    padding-right: 96px;
  }

  

  .manageItem,
  .insureItem {
    padding-right: 0;
  }

  .staticContainer {

    display: flex;
    gap: 32px;
  }
}
