/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font-family: "Ibarra Real Nova", serif;
  color: black;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
}

.App {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background: #33323d;
  mix-blend-mode: normal;
  opacity: 0.15;
}



/* index */


.wave {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.siteWrapper {
  background: #f2e1c296;
  padding-top: 2rem;
}

.portfolioIndex h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323d;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.portfolioIndex p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #33323d;
  mix-blend-mode: normal;
  opacity: 0.8;
}